body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
}

.right {
  display: flex;
  flex-direction: column;
}

.first {
  height: 40vh;
}

.second {
  height: 30vh;
}

.thrid {
  height: 30vh;
}
