body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 65vw;
}

.first {
  height: 33vh;
  display: flex;
  margin-left: 5%;
  align-items: flex-end;
}

.second {
  height: 33vh;
  background-color: white;
}

.second h2 {
  margin-left: 5%;
}

.form-main {
  display: flex;
  margin-left: 5%;
}

.form-divs {
}

.form-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.thrid {
  height: 33vh;
}
